{% extends 'base.html' %}
{% block title %} Submit a profile {% endblock %}

{% block content %}
<ul>
<h3>Associate Add Form</h3>
<br>
<body>
  {% if submitted %}
  <ul>
    Thank you for your submission
  </ul>
  {% else %}

  <ul>
    <div class="form-group">
      <form action="" method=POST>
        
        {% csrf_token %}
         
        {{ form.as_p }}

        <br> 
        <input type="submit" value="submit" class="btn btn-secondary"></input>
      </form>
    </div>
  <br>
  </ul>
  {% endif %}
</ul>
</body>


{% endblock %}

